{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spending Balancer</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800,800i" rel="stylesheet">
        <link rel="stylesheet" href="{% static "core/style.css" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h1><a href="{% url 'index' %}">Spending Balancer</a></h1>
            <nav>
                <ul>
                    {% if signed_in %}
                        <li><a href="{% url 'index' %}">Dashboard</a></li>
                        <li><a href="{% url 'payment-list' %}">Payments</a></li>
                        <li><a href="{% url 'payment-category-list' %}">Categories</a></li>
                        <li class="highlight"><a href="{% url 'payment-add' %}">Add Payment</a></li>
                        <li><a href="{% url 'sign-out' %}">Sign Out</a></li>
                    {% else %}
                        <li><a href="{% url 'sign-in' %}">Sign In</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            &copy; David Lougheed 2016.
        </footer>
    </body>
</html>
