{% extends 'core/base.html' %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            Highcharts.theme = {
                {#colors: ['#e74c3c', '#f39c12', '#f1c40f', '#2ecc71', '#1abc9c', '#3498db', '#9b59b6', '#bdc3c7']#}
                colors: ['#F44336', '#E91E63', '#9C27B0', '#673AB7', '#3F51B5', '#03A9F4', '#009688', '#8BC34A',
                    '#FFEB3B', '#FF9800', '#795548', '#607D8B']
            };
            Highcharts.setOptions(Highcharts.theme);

            Highcharts.chart('spending-history', {
                chart: { type: 'column' },
                title: { text: 'Spending History' },

                xAxis: {
                    categories: {{ spending_history_categories|safe }},
                    title: { text: 'Month' }
                },

                yAxis: {
                    min: 0,
                    title: { text: 'Amount ($)' }
                },

                series: {{ spending_history|safe }}
            });

            Highcharts.chart('payment-by-category', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Spending by Category'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: ${point.y:.2f}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Categories',
                    colorByPoint: true,
                    data: {{ payments_by_category|safe }}
                }]
            });

            Highcharts.chart('payment-amount-hist', {
                title: {
                    text: 'Payment Amount Histogram'
                },
                xAxis: {
                    title: { text: 'Number' }
                },

                yAxis: {
                    title: { text: 'Amount ($)' }
                },

                series: [{
                    name: 'Payment Count',
                    type: 'histogram',
                    data: {{ payment_hist|safe }}
                }]
            });

            {% for user, payments in payments_by_category_by_user.items %}
                Highcharts.chart('payment-by-category-user-{{ user }}', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Spending by Category for {{ user }}'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>${point.y:.2f}</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: ${point.y:.2f}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Categories',
                        colorByPoint: true,
                        data: {{ payments|safe }}
                    }]
                });
            {% endfor %}
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Deviations</h2>
    <div class="table-container">
        <table>
            <tbody>
                {% for deviation in deviations %}
                    <tr>
                        <th>{{ deviation.0 }}</th>
                        <td><span class="{{ deviation.1.signal }}">${{ deviation.1.amount }}</span></td>
                        <td>
                            {% if deviation.1.top %}<i class="material-icons">directions_bike</i>{% endif %}
                            {% if deviation.1.bottom %}<i class="material-icons">directions_run</i>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Spending History</h2>
    <div class="row">
        <div class="col col100"><div id="spending-history"></div></div>
    </div>

    <h2>Payment Breakdown</h2>
    <div class="row">
        <div class="col col50"><div id="payment-by-category"></div></div>
        <div class="col col50"><div id="payment-amount-hist"></div></div>
    </div>

    <div class="row">
        <div class="col col50">
            <h2>Contribution Statistics</h2>
            <div class="table-container">
                <table>
                    <tbody>
                        <tr><th>Mean</th><td>${{ contribution_mean }}</td></tr>
                        <tr><th>Contributors</th><td>{{ deviations|length }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col50">
            <h2>Payment Statistics</h2>
            <div class="table-container">
                <table>
                    <tbody>
                        <tr><th>Mean</th><td>${{ payment_mean }}</td></tr>
                        <tr><th>Total</th><td>${{ total }}</td></tr>
                        <tr><th>Number</th><td>{{ number }}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2>Payment Categories by User</h2>
    <div class="row">
    {% for user, payments in payments_by_category_by_user.items %}
        <div class="col col50"><div id="payment-by-category-user-{{ user }}"></div></div>
    {% endfor %}
    </div>
{% endblock %}
