{% extends 'core/base.html' %}

{% block content %}
    <h2>Payments</h2>
    {% if payments %}
        <ul class="payments">
        {% for payment in payments %}
                <li>
                    <a href="{% url 'payment-detail' payment.id %}">
                        <div class="date">{{ payment.date_made }}</div>
                        ${{ payment.amount }}&nbsp;in&nbsp;{{ payment.category.name }}
                        by&nbsp;<strong>{{ payment.payer }}</strong>.
                    </a>
                    <div class="controls">
                        {% if payment.payer.username == user.get_username and payment.recent %}
                            <a href="{% url 'payment-edit' payment.id %}">Edit</a>
                        {% endif %}
                    </div>
                </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No payments are present.</p>
    {% endif %}
{% endblock %}
