{% extends 'core/base.html' %}

{% block content %}
    <h2>Payment Categories <a href="{% url 'payment-category-add' pool.id %}">Add Category</a></h2>
    {% if payment_categories %}
        <ul class="categories fancy-list">
        {% for category in payment_categories %}
                <li>
                    <a href="{% url 'payment-category-detail' pool.id category.id %}">
                        <div class="name">{{ category.name }}</div>
                    </a>
                </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No payment categories are present.</p>
    {% endif %}
{% endblock %}
