body { padding: 0; margin: 0; background-color: #FEFEFE; font-family: "Open Sans", sans-serif; }

header {
    height: 70px;
    overflow: hidden;
    border-bottom: 1px solid #F3F3F3;
}

header h1 {
    margin: 0 0 0 30px;
    float: left;
    line-height: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
}
header h1 a {
    color: #2f2f2f;
    text-decoration: none;
    letter-spacing: -2px;
}

header nav {
    float: right;
    margin-right: 30px;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    display: inline-block;
    height: 70px;
}
header nav ul li a {
    margin-top: 20px;
    height: 30px;
    display: block;
    padding: 0 10px;
    text-decoration: none;
    line-height: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    color: #777;
}
header nav ul li a:hover {
    color: #444;
}
header nav ul li.highlight a {
    color: #f44336;
    font-weight: 900;
}

main {
    clear: both;
    padding: 30px;
}
main h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #3f3f3f;
    letter-spacing: -1px;
}
main h2:first-child {
    margin-top: 0;
}
main h2 a {
    float: right;
    color: #f44336;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
}

main p:last-child {
    margin-bottom: 0;
}

table {
    border: 2px solid #F3F3F3;
}
table tr td, table tr th {
    font-size: 0.9rem;
    padding: 5px;
}
table tr th {
    font-weight: 900;
    color: #3f3f3f;
    text-align: right;
}

table tr td i.material-icons {
    font-size: 1rem;
    margin-top: 1px;
    vertical-align: text-top;
}


ul.fancy-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.fancy-list li {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #F3F3F3;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
}
ul.fancy-list li a {
    text-decoration: none;
    color: #2f2f2f;
}
ul.fancy-list li div.date,
ul.fancy-list li div.name {
    display: inline-block;
    min-width: 9.25rem;

    font-weight: 900;
    color: #f44336;
    letter-spacing: -0.5px;

    white-space: nowrap;
}
ul.fancy-list li:last-child {
    border-bottom: none;
}

ul.fancy-list li div.controls {
    float: right;
}

ul.fancy-list li div.controls a {
    font-weight: 900;
    color: #f44336;
}


span.negative {
    color: #f44336;
}

.row {
    font-size: 0;
    padding: 20px 0;
}
.row .col {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}
.row .col.col50 {
    width: 50%;
}
.row .col.col100 {
    width: 100%;
}

footer {
    padding: 30px;
    border-top: 1px solid #F3F3F3;
    color: #888;
}

/**********************************************************************************************************************/

form label {
    display: block;
    margin: 10px 0 3px 0;
    font-weight: 900;
    font-size: 0.85rem;
}

form button {
    display: block;
    margin-top: 20px;
}

form input[type="text"], form input[type="password"], form input[type="number"] {
    border: 2px solid #2f2f2f;
    padding: 7px;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
}

button, input[type="submit"] {
    border: none;
    background: none;
    padding: 0;
    font-size: 1rem;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    color: #f44336;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 880px) {
    header { height: auto; }
    header h1 { float: none; }
    header nav { float: none; margin-right: 0; }
    header nav ul { padding: 0 20px 0 20px; }
    header nav ul li { height: 50px; }
    header nav ul li a { margin-top: 3px; }
}

@media screen and (max-width: 700px) {
    .row .col {
        display: block;
        width: 100% !important;
        margin: 20px 0;
    }
    .row .col:first-child { margin-top: 0; }
    .row .col:last-child { margin-bottom: 0; }

    ul.payments li div.controls,
    ul.categories li div.controls {
        float: none;
        margin-top: 3px;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 550px) {
    header nav ul {
        margin-bottom: 20px;
    }
    header nav ul li {
        display: block;
        height: 30px;
    }
    header nav ul li a { margin-top: 0; }
}
